<!DOCTYPE html>
<html lang="en">
    <%-include ('./partials/head.ejs')%>
   
<body>
    <%-include ('./partials/nav.ejs')%>
    <div class="wrap-search">
        <label class="titulo" for="categoria">¿Qué Categoría de proyectos Buscas?</label>
        <div class="actividades"><select id="actividades">
            <option label="escalada">Escalada</option>
            <option label="bici">Bici</option>
            <option label="senderismo">Senderismo</option>
        </select></div>
        <div class="projects-container">
            <% if(proyectos.length>0){ %>
                <% proyectos.forEach(proyecto =>{ %> 
                    <div class="project-link"><a href="/proyect-list/<%=proyecto._id%>">
                        <h3 class="proyeto-nombre"><%= proyecto.nombre%></h3>
                        <p class="proyecto-categoria"><%=proyecto.categoria%></p>
                        <p class="proyecto-description"><%=proyecto.description%></p>
                    </a></div>
            <% }) %>
            <% } else{ %>
                <p> ay perdón no tenemos proyectos aún :( </p>
            <% } %>
        </div>  
    </div>
    <%-include ('./partials/footer.ejs')%>
</body>
</html>