<!DOCTYPE html>
<html lang="en">
    
    <%-include ('./partials/head.ejs')%>
   
    <body>
        <%-include ('./partials/nav.ejs')%>
        <main>
            <div class="wrap-projectlanding">
                <div class="title-container">
                    <h1><%=proyecto.nombre%></h1>
                    <a class="delete-btn" data-doc="<%=proyecto._id%>">BORRAR</a>
                </div>
                <div class="project-pic">
                    <img src="/imgs/landing.jpg" alt="">
                </div>
                <div class="detalles-nombreProyecto" id="detalles-nombreProyecto">
                    <h2>Sobre este proyecto</h2>
                    <hr class="line">
                    <div class="paragraph">                       
                        <p class="project-desc"><%=proyecto.description%>
                        </p>                        
                    </div>
                    <hr class="line">
                    <div>
                        <h3>Ubicación:</h3><span><p>Tabasco</p></span>
                        <h3>Categoría:</h3><span><p><%=proyecto.categoria%></p></span>
                        <h3>Actividades:</h3><span><p>Avistamiento de aves, camping, senderismo</p></span>
                    </div>
                    <div>
                        <h2 class="detalles-adl">¿Qué mas debes saber sobre el proyecto XYZ-ABC-DEF?</h2>
                        <div>
                            <ul>
                                <li>Llevan 5 Años en operaciones</li>
                                <li>Es un proyecto social manejado por xxx</li>
                                <li>Cuentan con 2 reconocimientos internacionales de servicio</li>
                               
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Llevan 5 Años en operaciones</li>
                                <li>Es un proyecto social manejado por xxx</li>
                                <li>Cuentan con 2 reconocimientos internacionales de servicio</li>
                               
                            </ul>
                        </div>
                        <h2>¿Quienes serán tus anfitriones?</h2>
                        <div class="anfitriones">
                            <div class="img-anfitrion"><img src="/imgs/camping.png"/></div>
                            <div class="img-anfitrion"><img src="/imgs/camping.png"/></div>
                            <div class="img-anfitrion"><img src="/imgs/camping.png"/></div>                          
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum itaque facere eum hic enim at veniam ratione doloribus, provident sed laboriosam ipsum corrupti, ex rem nobis sit voluptatum, sunt incidunt!

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia, laudantium vero facilis ex obcaecati quibusdam enim est autem accusantium at quis laborum ullam perferendis sunt repellendus aliquid ipsam cum.
                        </p>
                        <h2>Horarios Oficiales de XXXX</h2>
                        <div class="horarios">
                            <ul>
                                <li>Lunes de 0.00 a 12.00</li>
                                <li>Martes de 0.00 a 12.00</li>
                                <li>Miércoles de 0.00 a 12.00</li>
                                <li>Jueves de 0.00 a 12.00</li>
                                <li>Viernes de 0.00 a 12.00</li>
                                <li>Sábado de 0.00 a 12.00</li>
                                <li>Domingo de 0.00 a 12.00</li>
                            </ul>
                        </div>
                        <h2>Reserva tu Visita a XX asdfad asdfasdf</h2>
                        <ul>
                            <li>Teléfono</li>
                            <li>Teléfono</li>
                            <li>Teléfono</li>
                        </ul>
                        <h2>Dónde está XXX</h2>
                        <div class="project-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7557.071576115275!2d-99.11738017530558!3d18.7295899991502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce799ae5af9029%3A0xcab19f2a3210db76!2s62774%20Estacas%2C%20Mor.!5e0!3m2!1ses!2smx!4v1686355298975!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%-include ('./partials/footer.ejs')%>
        <script>
            const deleteBtn = document.querySelector('a.delete-btn')

            deleteBtn.addEventListener('click',()=>{
                console.log(deleteBtn)
                console.log(deleteBtn.dataset.doc)
                const endpoint=`/proyect-list/${deleteBtn.dataset.doc}`
                console.log(endpoint)
                fetch(endpoint,{
                    method:'DELETE'
                })
                .then((response)=>response.json())
                .then((data)=>{
                    console.log(data)
                    window.location.href = data.redirect
                })
                .catch(err => console.log(err))
            })
        </script>
    </body>

</html>